th{
    font-weight: bold; 
    
}
th,td{
    border:  2px solid silver;
}

table{ 
    border: 2px solid silver ;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    text-align: center;
    vertical-align: middle;
    border-collapse: collapse;
}